<p>componentex11 works!</p>


<html>
<head>
  <title>Vanilla JavaScript</title>
</head>
<body>
<div class="hContainer" id="header" >
  <h1>CodeParadox</h1>
  <span id="searchBar">
			<input id="search" type="text" name="search" placeholder="search" >

		</span>
</div>

<div class="bContainer">
  <div class="addItem">
  <div><label>Add Course</label></div>
  <input type="text" name="addItem" placeholder="addItem" id="value">
  <button id="formId" type="submit" >Submit</button>
</div>
<div>
  <label>Courses</label>
  <ul class="item" id="item">
    <li class="itemContent">HTML <button class="but">X</button></li>
    <li class="itemContent">CSS<button class="but">X</button></li>
    <li class="itemContent">JavaScript <button class="but">X</button></li>
    <li class="itemContent">Machine Learning<button class="but">X</button></li>
    <li class="itemContent">Deep Learning<button class="but">X</button></li>
  </ul>

</div>
</div>


</body>
</html>
