<p>component1 works!</p>
<h1 id="titol">Hola, bones aquest es el titol de Component1</h1>
<h1>{{this.dom1}}</h1>
<table>
  <tr>
    <th>Titol</th>
    <th>Titol2</th>
  </tr>
  <tr>
    <td>aaaa</td>
    <td>bbbb</td>
  </tr>
</table>

<p id="contarParagraf">Lorem Ipsum nadir i ell</p>
<p id="numParaules"></p>

<img id="imatgedom" src="" />

<div id="divServei"></div>

<div id="resultsDiv"></div>

<div id="dropdownDavid">
<label for="dropdownListDavid">OPTIONS LIST</label>
<select id="dropdownListDavid">
  <option value="optionA">Option A</option>
  <option value="optionB">Option B</option>
  <option value="optionC">Option C</option>
</select>
</div>

